<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
  
      <!-- <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">
              {%- if site.author -%}
                {{ site.author | escape }}
              {%- else -%}
                {{ site.title | escape }}
              {%- endif -%}
              </li>
              {%- if site.email -%}
              <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              {%- endif -%}
          </ul>
        </div>
  
        <div class="footer-col footer-col-2">
          {%- include social.html -%}
        </div>
  
        <div class="footer-col footer-col-3">
          <p>{{- site.description | escape -}}</p>
        </div>
      </div> -->
    
      <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <h3 class="footer-heading">Funding</h3>
            <p>
                <a href="https://www.epfl.ch/schools/cdh/research-2/cross-collaborative-research-on-science-and-society/cross-2021/">
                    Collaborative Research on Science and Society (CROSS)
                </a>
            </p>
            <h3 class="footer-heading">Duration</h3>
            <p>
               January - December 2021
            </p>
          </div>
          <div class="footer-col footer-col-2">
            <p>
               <img src="/ddd/img/EPFL.png">
               <img src="/ddd/img/UNIL.png">
            </p>
          </div>
          <div class="footer-col footer-col-3">
            <p>{{- site.description | escape -}}</p>
          </div>
      </div>
  
    </div>
  
  </footer>
  